<div class="panel panel-primary">
  <div class="panel-heading">
    {{formTitle}}
  </div>
  <div class="panel-body">
    <form class="form-horizontal" (ngSubmit)="save(signupForm)" #signupForm="ngForm">
      <div class="form-group" [ngClass]="{'has-error': (firstNameVar.touched || firstNameVar.dirty) 
      && !firstNameVar.valid}">
        <label class="col-md-2 control-label">Enter your first name:</label>
        <div class="col-md-8">
          <input class="form-control" id="firstNameId" type="text" [(ngModel)]="customer.firstName" name="name" placeholder="First Name (required)"
            required minlength="3" #firstNameVar="ngModel" />
          <span class="help-block" *ngIf="(firstNameVar.touched || firstNameVar.dirty)
          && firstNameVar.errors">
            <span *ngIf="firstNameVar.errors.required">
              Please enter your first name.
            </span>
            <span *ngIf="firstNameVar.errors.minlength">
              The first name must be longer than 2 characters.
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Submit</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
